<!-- Base.html for Search Result -->
<!DOCTYPE html>
<html lang="en">
<head>
     <title>Search</title>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/map.css ' %}" type="text/css">
    <script src="{% static 'js/map.js' %}"></script>
</head>
<body onload="MyMap();">
    {% block Result%}{% endblock%}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqiyBwAlNggnQks2Bo72k_bee018npngM&callback=MyMap"></script>
</body>
</html>