{% extends 'Query/search_base.html' %}
{% load staticfiles%}

{% block Search %}
<div class="container-fluid">
    <div class="container" id="search_nav_bar">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">LogOut</a>
          </li>
        </ul>
    </div>
</div>

 <form action="" method="Post">
        {% csrf_token %}
        {{ query.non_field_errors }}
        <fieldset class="fieldset">
            <legend class="legend">Query your place</legend>
            <div class="form-row align-items-center">
                <div class="form-group col-auto">
                    {{ query.address.errors }}
                    <label for="{{ query.address.id_for_label }}">Search</label>
                    {{ query.address}}
                </div>
            </div>
        </fieldset>
        <input id="submit" type="submit" value="Submit"/>
    </form>
{% endblock %}