{% load staticfiles %}
{% load dajaxice_templatetags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/search.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <script src = "https://code.jquery.com/jquery-1.x-git.js" type = "text/javascript" charset = "utf-8"></script>
    <!---<script src = "{% static '/static/dajax/jquery.dajax.core.js' %}"></script>-->

</head>

<body >

<!--
    {% block Search %}{% endblock %}
    {% block Result%}{% endblock %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqiyBwAlNggnQks2Bo72k_bee018npngM&callback=MyMap"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
-->
<form method = "POST" id = "form">
    {% csrf_token %}
    <div class="fieldWrapper" >
        {{query.address}}
    </div>
     <input type = "submit" value = "Send">
</form>

<div id="results"></div> <!-- errors go here -->

<script src = "{% static 'js/test.js' %}" ></script>

</body>
</html>