{% extends 'Index/base.html' %}
{block content}
<div class="container">
	<div class="row">
		<div class="col-3">
			<div class="row">
				<div class="col">
					<button type="button" class="btn btn-info">CreateAccount</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-info">ViewCategory</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-info">PostAd</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-info">AdCollections</button>
				</div>
			</div>
		</div>
		<div class="col-9">
			<!-- initiallhy ads are displayed in cards  -->
			<div class="container">

				{% if rand_category %}
					{% for each_ads in Ads %}
						<div class="card-group">
							<div class="card">
								<img class="card-img-top" src=".../100px180/" alt="Card image cap">
								<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
								</div>
							</div>
						</div>
					{% endfor %}
				{%  endif %}
			</div>>
		</div>
	</div>
</div>
	

{endblock}