#search_body{
    background-color: #bdbdbd;
}
#search_nav_bar{
    padding:2%;
}
#search_box{
  margin: auto;
  width: 60%;
  padding: 4% 3% 0 2%;
}

#map{
    height: 444px;
    margin: 7px;
    width: auto;
    border: solid 1px red;
}
@media print {
        #map {
          height: 500px;
          margin: 0;
        }
        #right-panel {
          float: none;
          width: auto;
        }
      }

        #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
      }



